<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-header>
    <ion-navbar color="dark">
        <ion-title>
          <ion-row>
            <ion-col>
              <button ion-button large full class="submit-btn2" (click)="reproducirGrabacion()">
                  <ion-icon name="play"></ion-icon>
              </button>
            </ion-col>
            <ion-col>
              <button ion-button large full class="submit-btn2" (click)="empezarPausarGrabacion()">
                  <ion-icon name="videocam"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-title>
      <ion-buttons end>
        <button ion-button class="submit-btn2" (click)="logout()">
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="home" *ngIf = "!changeHtml">  
    <ion-row>
      <ion-col>
        <button ion-button large full class="submit-btn" *ngIf = "recordSounds == false && boton1" (click)="reproducir(1)"><img src="assets/Instrumentos/guitar.png" alt="" height="80px"></button>
        <button ion-button large full class="submit-btn-play" *ngIf = "recordSounds == false && !boton1" (click)="reproducir(1)"><img src="assets/Instrumentos/guitar.png" alt="" height="80px"></button>
        <button ion-button large full class="submit-btn-record" *ngIf = "recordSounds == true" (click)="grabar(1)"><img src="assets/Instrumentos/guitar.png" alt="" height="80px"></button>
      </ion-col>
      <ion-col>
        <button ion-button large full class="submit-btn" *ngIf = "recordSounds == false && boton2" (click)="reproducir(2)"><img src="assets/Instrumentos/drum.png" alt="" height="80px"></button>      
        <button ion-button large full class="submit-btn-play" *ngIf = "recordSounds == false && !boton2" (click)="reproducir(2)"><img src="assets/Instrumentos/drum.png" alt="" height="80px"></button>      
        <button ion-button large full class="submit-btn-record" *ngIf = "recordSounds == true" (click)="grabar(2)"><img src="assets/Instrumentos/drum.png" alt="" height="80px"></button>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button large full class="submit-btn" *ngIf = "recordSounds == false && boton3" (click)="reproducir(3)"><img src="assets/Instrumentos/flute.png" alt="" height="80px"></button>
        <button ion-button large full class="submit-btn-play" *ngIf = "recordSounds == false && !boton3" (click)="reproducir(3)"><img src="assets/Instrumentos/flute.png" alt="" height="80px"></button>
        <button ion-button large full class="submit-btn-record" *ngIf = "recordSounds == true" (click)="grabar(3)"><img src="assets/Instrumentos/flute.png" alt="" height="80px"></button>
      </ion-col>
      <ion-col>
        <button ion-button large full class="submit-btn" *ngIf = "recordSounds == false && boton4" (click)="reproducir(4)"><img src="assets/Instrumentos/xylo.png" alt="" height="80px"></button>      
        <button ion-button large full class="submit-btn-play" *ngIf = "recordSounds == false && !boton4" (click)="reproducir(4)"><img src="assets/Instrumentos/xylo.png" alt="" height="80px"></button>      
        <button ion-button large full class="submit-btn-record" *ngIf = "recordSounds == true" (click)="grabar(4)"><img src="assets/Instrumentos/xylo.png" alt="" height="80px"></button>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button large full class="submit-btn" *ngIf = "recordSounds == false && boton5" (click)="reproducir(5)"><img src="assets/Instrumentos/violin.png" alt="" height="80px"></button>
        <button ion-button large full class="submit-btn-play" *ngIf = "recordSounds == false && !boton5" (click)="reproducir(5)"><img src="assets/Instrumentos/violin.png" alt="" height="80px"></button>
        <button ion-button large full class="submit-btn-record" *ngIf = "recordSounds == true" (click)="grabar(5)"><img src="assets/Instrumentos/violin.png" alt="" height="80px"></button>
      </ion-col>
      <ion-col>
        <button ion-button large full class="submit-btn" *ngIf = "recordSounds == false && boton6" (click)="reproducir(6)"><img src="assets/Instrumentos/trumpet.png" alt="" height="80px"></button>      
        <button ion-button large full class="submit-btn-play" *ngIf = "recordSounds == false && !boton6" (click)="reproducir(6)"><img src="assets/Instrumentos/trumpet.png" alt="" height="80px"></button>      
        <button ion-button large full class="submit-btn-record" *ngIf = "recordSounds == true" (click)="grabar(6)"><img src="assets/Instrumentos/trumpet.png" alt="" height="80px"></button>      
      </ion-col>
    </ion-row>
  </ion-content>
  <ion-content padding class="home" *ngIf = "changeHtml">
      <ion-row>
        <ion-col>
          <button ion-button large full class="submit-btn-landscape" *ngIf = "recordSounds == false && boton1" (click)="reproducir(1)"><img src="assets/Instrumentos/guitar.png" alt="" height="55px"></button>
          <button ion-button large full class="submit-btn-landscape-play" *ngIf = "recordSounds == false && !boton1" (click)="reproducir(1)"><img src="assets/Instrumentos/guitar.png" alt="" height="55px"></button>
          <button ion-button large full class="submit-btn-landscape-record" *ngIf = "recordSounds == true" (click)="grabar(1)"><img src="assets/Instrumentos/guitar.png" alt="" height="55px"></button>
        </ion-col>
        <ion-col>
          <button ion-button large full class="submit-btn-landscape" *ngIf = "recordSounds == false && boton2" (click)="reproducir(2)"><img src="assets/Instrumentos/drum.png" alt="" height="55px"></button>      
          <button ion-button large full class="submit-btn-landscape-play" *ngIf = "recordSounds == false && !boton2" (click)="reproducir(2)"><img src="assets/Instrumentos/drum.png" alt="" height="55px"></button>      
          <button ion-button large full class="submit-btn-landscape-record" *ngIf = "recordSounds == true" (click)="grabar(2)"><img src="assets/Instrumentos/drum.png" alt="" height="55px"></button>      
        </ion-col>
        <ion-col>
            <button ion-button large full class="submit-btn-landscape" *ngIf = "recordSounds == false && boton3" (click)="reproducir(3)"><img src="assets/Instrumentos/flute.png" alt="" height="55px"></button>
            <button ion-button large full class="submit-btn-landscape-play" *ngIf = "recordSounds == false && !boton3" (click)="reproducir(3)"><img src="assets/Instrumentos/flute.png" alt="" height="55px"></button>
            <button ion-button large full class="submit-btn-landscape-record" *ngIf = "recordSounds == true" (click)="grabar(3)"><img src="assets/Instrumentos/flute.png" alt="" height="55px"></button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button large full class="submit-btn-landscape" *ngIf = "recordSounds == false && boton4" (click)="reproducir(4)"><img src="assets/Instrumentos/xylo.png" alt="" height="55px"></button>      
          <button ion-button large full class="submit-btn-landscape-play" *ngIf = "recordSounds == false && !boton4" (click)="reproducir(4)"><img src="assets/Instrumentos/xylo.png" alt="" height="55px"></button>      
          <button ion-button large full class="submit-btn-landscape-record" *ngIf = "recordSounds == true" (click)="grabar(4)"><img src="assets/Instrumentos/xylo.png" alt="" height="55px"></button>      
        </ion-col>
        <ion-col>
          <button ion-button large full class="submit-btn-landscape" *ngIf = "recordSounds == false && boton5" (click)="reproducir(5)"><img src="assets/Instrumentos/violin.png" alt="" height="55px"></button>
          <button ion-button large full class="submit-btn-landscape-play" *ngIf = "recordSounds == false && !boton5" (click)="reproducir(5)"><img src="assets/Instrumentos/violin.png" alt="" height="55px"></button>
          <button ion-button large full class="submit-btn-landscape-record" *ngIf = "recordSounds == true" (click)="grabar(5)"><img src="assets/Instrumentos/violin.png" alt="" height="55px"></button>
        </ion-col>
        <ion-col>
          <button ion-button large full class="submit-btn-landscape" *ngIf = "recordSounds == false && boton6" (click)="reproducir(6)"><img src="assets/Instrumentos/trumpet.png" alt="" height="55px"></button>      
          <button ion-button large full class="submit-btn-landscape-play" *ngIf = "recordSounds == false && !boton6" (click)="reproducir(6)"><img src="assets/Instrumentos/trumpet.png" alt="" height="55px"></button>      
          <button ion-button large full class="submit-btn-landscape-record" *ngIf = "recordSounds == true" (click)="grabar(6)"><img src="assets/Instrumentos/trumpet.png" alt="" height="55px"></button>      
        </ion-col>
      </ion-row>
    </ion-content>